@square-width: 85px;
@square-height: 61px;
@month-marker-gutter-height: 10px;
@period-square-inner-height: 51px;

.range-selector {
  width: 255px;
  height: 244px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
  box-shadow: 0 2px 5px 2px rgba(32, 40, 49, 0.23);

  .month-selector {
    height: @square-height;
    text-align: center;

    .inner {
      position: relative;
      width: 100%;
      top: 25%;
    }
  }
}

.period-square {
    width: @square-width;
    height: @square-height;
    float: left;
    text-align: center;
    vertical-align: middle;

    .period-square-inner {
      border-right: 1px solid @pale-grey;
      height: @period-square-inner-height;
    }

    .period-month {
      width: @square-width;
      height: @month-marker-gutter-height;
      line-height: @month-marker-gutter-height;
      background-color: @cool-grey-two;
      font-size: 7px;
      font-family: OpenSans;
      font-weight: 600;
      vertical-align: top;
      text-align: left;
      padding-left: 8px;
    }

    .month-begins {
      border-left: 1px solid @silver
    }

    p {
      position: relative;
      top: 25%;
    }

    &:nth-child(3n+1) {
      clear: left;
    }
  }


